@charset "utf-8";
/* common.css */



#wrap{
	margin: 0 auto;  /* 가운데 정렬 */
	width: 100%;
	height: 2400px;
	margin-top: 730px;
	}

header{
	height: 13px;	/* 줄 간격 - 수직으로 가운데 정렬 효과 */
	padding: 0;
	font-weight: bold; /* 굵게 */
	}	
	
img {
	border-color: #FFFFFF;
	/* [disabled]border-style: solid; */
	/* [disabled]border-width: 100%; */
	width: 100%;
	text-align: center;
}	


#topImg{
	margin-top: 10px;
	width: 100%;
	position: relative;
	z-index: 1;
	}
.logoImg {
	margin-left: 100px;
	position: relative;
	z-index: 1;
}

	



