@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}



/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height: auto;
	margin-top: 50px;
}




#objectbanner {
	width: 100%;
	position: relative;
	min-width: 1470px;
	height: 300px;
	margin-top: -30px;
	
}


#objectbanner img{
	width: 100%;
	min-height: 300px;
	height: 300px;
	min-width: 1470px;
	position: relative;
	
}

#bannertxt {
	position: relative;
	top:100px;
	height: 70px;
	width: 167px;
	z-index: 10;
	margin: 0 auto;
	color: #fff;
	font-family: "나눔스퀘어";
	font-size: 50px;
	font-weight: bolder;
	
}




@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1280px) and (width:100%){
}


#submenu {
	float: left;
	height: 750px;
	width: 200px;
	margin-left: 50px;
	margin-top: 30px;
	
}

#submenu a {
	font-family: "나눔스퀘어";
	font-size: 23px;
	line-height: 70px;
	color: #000000;
	font-weight: bold;
}

#submenu a:hover {
	font-family: "나눔스퀘어";
	font-size: 23px;
	line-height: 70px;
	color: #00761F;
	font-weight: bold;
}

.order {
	color: #00761F;
	font-weight: bolder;
}

#product {
	font-family: "나눔스퀘어";
	float: left;
	width: 980px;
	margin-top: 50px;
	padding-right: 40px;
}


#productform {
	float: left;
	margin-bottom: 50px;
	width: 980px;
	
}

#productform h2 {
	font-size: 28px;
}

#productform th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#productform td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}



#productform p {
	font-size: 17px;
	line-height: 27px;
	color: #555555;
}

.question1{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question1 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question1 .blind_view1{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view1 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question2{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question2 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question2 .blind_view2{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view2 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question3{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question3 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question3 .blind_view3{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view3 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question4{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question4 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question4 .blind_view4{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view4 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question5{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question5 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question5 .blind_view5{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view5 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question6{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question6 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question6 .blind_view6{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view6 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question7{
			color:#934545;
			height: 80px;
			text-align:left;
			padding-left: 30px;
		}
        .question7 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question7 .blind_view7{
			font-size:19px;
			color:#000000;
			text-align: left;
		}
        .answer_view7 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}




