@charset "utf-8";

/* ================== Font ================== */
html,
body,
input,
mark,
textarea,
button,
select {
    font-family:'NanumSquare','Malgun Gothic',arial,dotum,tahoma,sans-serif;
    font-size: 17px; font-weight: 400; color: #575757;
}

@font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 400;
    src: url(./file/NanumSquareR.eot);
    src: local('Nanum Square Regular'),
         local('NanumSquareR'),
         url(./file/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(./file/NanumSquareR.woff2) format('woff2'),
         url(./file/NanumSquareR.woff) format('woff'),
         url(./file/NanumSquareR.ttf) format('truetype');
}
 
