@charset "utf-8";

/* ================== Common ================== */
* { padding: 0; margin: 0 auto; }

a { text-decoration: none; cursor:pointer; }
a:hover { color: #3482fe; text-decoration: none; }
a:link, a:active, a:visited { color: #333; }

ul { list-style: none; }

/* ================== Class ================== */
.view_all { display: inline; float: right; font-size: 14px; }
