@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어"; 
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}


/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height: auto;
	margin-top: 35px;
}




@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1280px) and (width:100%){
}




#product {
	width: 1200px;
	padding-left: 40px;
	padding-right: 40px;
	margin-top: 50px;
}
#producttxt {
	width: 1200px;
	height: 50px;
	font-size: 35px;
	font-weight: bolder;
	margin-left: 40px;
	margin-right: 40px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	margin-bottom: 70px;
	
}

#producttable {
	float: left;
	margin-bottom: 70px;
}


#producttable h2 {
	font-size: 26px;
}

#producttable th {
	background-color: #c2eeb7;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#producttable td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}

#producttable .productTotal {
	font-size: 23px;
	text-align: right;
	padding-left: 450px;
	font-weight: bold;
}

#producttable p {
	font-size: 16px;
	line-height: 25px;
	color: #555555;
}


#orderform {
	width: 1200px;
	height: 300px;
}


#orderform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
	text-align: left;
	
}

#orderform th {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	background-color: #c2eeb7;
	font-size: 19px;
	
}




.sub {
	font-size: 16px;
	color: #7B7B7B;
	line-height: 20px;
}


#deliveryform {
	height: 300px;
	width: 1200px;
}

#deliveryform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
	text-align: left;
	
}

#deliveryform th {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	background-color: #c2eeb7;
	font-size: 19px;
	
}




#payform {
	height: 300px;
	width: 690px;
	float: left;
	margin-right: 70px;
}

#payform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
	text-align: left;
	
}

#payform th {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	background-color: #c2eeb7;
	font-size: 19px;
	
}

#payform p {
	font-size: 14px;
	line-height: 20px;
}


#totalform {
	height: 300px;
	width: 440px;
}

#totalform th {
	border-top: 1px;
	border-top-color: #CCCCCC;
	border--top-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	background-color: #F4F4F4;
	font-size: 19px;
	
}

#totalform td {
	padding-left: 30px;
	background-color: #F4F4F4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	font-size: 19px;
	text-align: left;
	
}

/* .payimg { */
/* 	text-align: right; */
/* 	padding-left: 760px; */
/* } */




input[type=password] {
        font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif ;
		width:152;
		&::placeholder {
        	font-family: "NanumSquare";
        }
}
