@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어"; 
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}



/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height: auto;
	margin-top: 70px;
}




@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1280px) and (width:100%){
}






#orderOK {
	width: 1200px;
	margin-top: 50px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;
}


.orderOKtxt {
	height: 70px;
	font-size: 35px;
	font-weight: bolder;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	text-align: center;
	
}

#product {
	width: 1200px;
	margin-top: 50px;
	padding-left: 40px;
	padding-right: 40px;

}

#producttable {
	float: left;
	margin-bottom: 70px;
}

#producttable h2 {
	font-size: 26px;
}


#producttable th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#producttable td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}

#producttable .productTotal {
	font-size: 23px;
	text-align: right;
	padding-left: 450px;
	font-weight: bold;
}


#orderOKform {
	width: 1200px;
}

#orderOKform th {
	background-color: #c2eeb7;
	padding: 15px;
	font-size: 19px;
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	
}

#orderOKform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
	text-align: left;
}

#orderOKform .sub {
	font-size: 12px;
	color: #999;
}

#orderOKform p {
	text-align: center;
}

.orderimg {
	text-align: center;
	padding-left: 450px;
}


#footer {
	width:100%;
	min-width:1280px;
	height: 260px;
}

.bgfooter {
	width:100%;
	min-width:1280px;
	height: 260px;
	position: relative;
}


.bgfooter img{
	position: relative;
	z-index: 1;
	width: 100%;
	min-width: 1280px;
	margin: 0 auto;	
	height: 260px;
}

.footercontent {
	width:700px;
	height:100px;
	position: relative;
	z-index: 10;
	top: 150px;
	left:580px;
}


.footerlogo {
	float: left;
	height: 100px;
	width: 170px;
	z-index: 10;
	
	
	
}
.company {
	float: left;
	height: 100px;
	width: 500px;
	z-index: 10;
	font-size: 15px;
	line-height: 25px;
	margin-left: 30px;
	font-family: "나눔스퀘어";
	
}
