@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}



/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height: auto;
	margin-top: 50px;
}

#objectbanner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-width: 1280px;
	height: 300px;
	margin-top: -90px;
	z-index: 1;
	
	
}


#objectbanner img{
	width: 100%;
	height:300px;
	min-height: 300px;
	min-width: 1280px;
	position: relative;
	text-align: center;
	z-index: 1;
	
}

#bannertxt {
	position: relative;
	top: 170px;
	width:250px;
	height: 50px;
	z-index: 10;
	margin: 0 auto;
	font-family: "나눔스퀘어";
	color: #000;
	font-size: 50px;
	font-weight: bolder;
	z-index: 10;
	
}


@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1280px) and (width:100%){
}


#submenu {
	float: left;
	height: auto;
	width: 200px;
	margin-left: 50px;
	margin-top: 30px;
	
}

#submenu a {
	font-family: "나눔스퀘어";
	font-size: 23px;
	line-height: 70px;
	color: #000000;
	font-weight: bold;
}

#submenu a:hover {
	font-family: "나눔스퀘어";
	font-size: 23px;
	line-height: 70px;
	color: #00761F;
	font-weight: bold;
}


.order {
	color: #00761F;
	font-weight: bolder;
}

#qna {
	width: 980px;
	margin-top: 50px;
	float: left;
	margin-bottom: 50px;
}


#qnaform {
	float: left;
	margin-bottom: 50px;
}

#qnaform p {
	font-size: 16px;
	line-height: 25px;
	color: #555555;
}

#qnaform th {
	background-color: #c2eeb7;
	padding: 15px;
	font-size: 19px;
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	
}

#qnaform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
}

#qnaform .sub {
	font-size: 15px;
	color: #999;
}



.sub {
	font-size: 15px;
	color: #7B7B7B;
	line-height: 20px;
}

#qnaform textarea {
	width: 400px;
	height: 180px;
	resize:none;
}

.summit {
	text-align: center;
	padding-left: 330px;
} 

