@charset "utf-8";

body {
	font-family: "나눔고딕", "맑은 고딕", "돋움", Dotum, Verdana, Tahoma;
	margin:0px;		
	padding:0px;
	width:400px;
}

img{
	border:0px;
	display:block;
	
}

.popupimg2 {
	height: 400px;
	width: 500px;
	background-color: white;
	text-align: center;
	
}
#popup2close {
	position: absolute;
	left: 206px;
	top: 352px;
	width: 65px;
	height: 20px;
	z-index: 1;
	
}
.logo {
	height: 70px;
	width: 500px;
	margin-top: 30px;
}

.logo img {
	margin-left: 170px;
}


#form {
	margin-top: 30px;
	margin-bottom: 10PX;
	height: 220px;
}

th {
	padding: 15px;
	font-size: 14px;
	font-family: "맑은 고딕";
	color: #4b3114;
	text-align: left;
	background-color: #CCCCCC;
}



.sub {
	font-size: 12px;
	color: #999;
	background-color: #f6f6f6;
}
#nologin {
	height: 80px;
	width: 500px;
	margin-top: 20px;
}

#nologin img {
	margin-left: 50px;
}

