@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	font-family: "나눔스퀘어";
}



/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1470px;
	height: auto;
}


#objectbanner {
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-width: 1280px;
	height: 300px;
	z-index: 1;
	
	
}


#objectbanner img{
	width: 100%;
	height:300px;
	min-height: 300px;
	min-width: 1280px;
	position: relative;
	text-align: center;
	margin-top: -90px;
	z-index: 1;
	
}

#bannertxt {
	position: relative;
	top:90px;
	width:167px;
	height: 50px;
	z-index: 10;
	margin: 0 auto;
	font-family: "나눔스퀘어";
	color: #fff;
	font-size: 50px;
	font-weight: bolder;
	z-index: 10;
	
}

#history {
	height: 35px;
	text-align: right;
	width: 1318px;
	color: #666;
	font-size: 20px;
	margin-bottom: 20px;
	color: #08730A;
	font-weight: bold;
}


#agency {
	width: 130px;
	border: 2px solid #70d856;
	font-size: 18px;
	height: 30px;

}


.order {
	color: #00761F;
	font-weight: bolder;
	font-family: "나눔스퀘어";
}

#product {
	font-family: "나눔스퀘어";
	float: left;
	height: auto;
	width: 1380px;
	margin-left: 45px;
}


.objecttitle {
	height: 80px;
	width: 1093px;
	font-size: 42px;
	text-align: left;
	border-bottom: medium;
	border-bottom-color: #AFAFAF;
	border-bottom-style: solid;
	margin-bottom: 30px;
	padding-bottom: 10px;
}


.objecttitle p {
	font-size: 25px;
	font-weight: bolder;
	margin-top: 20px;
	color: #4c300c;
}


.productmenu {
	height: 30px;
	margin-top: 20px;
	width: 1380px;
	text-align: right;
}

.productmenu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	
}

.productmenu ul li {
	font-size: 15pt;
	display: inline;
	margin-right: 30px;
	font-family: "나눔스퀘어";
}

.productmenu li a {
	color: #765E0E;
}

.productmenu li a:hover {
	color: #009A1D;
}




@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1380px) and (width:100%){
}


#submenu {
	float: left;
	height: auto;
	width: 200px;
	margin-left:24px;
	
	
}

#submenu li {
	list-style: none;
}

#submenu a {
	font-family: "나눔스퀘어";
	font-size: 30px;
	line-height: 70px;
	color: #000000;
	font-weight: bold;
	
}

#submenu a:hover {
	font-family: "나눔스퀘어";
	font-size: 30px;
	line-height: 70px;
	color: #00761F;
	font-weight: bold;
}


.order {
	color: #00761F;
	font-weight: bolder;
}




#productform {
	float: left;
	margin-bottom: 50px;
	width: 1153px;
	height: auto;
	margin-top: 10px;
}


#productform th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#productform td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}


#productform p {
	font-size: 16px;
	line-height: 25px;
	color: #555555;
}

.item1 {
	float: left;
	height: 380px;
	width: 231px;
	margin-right: 56px;
	
}

.itemtext1 {
	height: 115px;
	width: 231px;
	margin-top: 20px;
	text-align: left;
}

.itemtext1 a {
	font-size: 21px;
	color: black;

}

.itemtext1 a:hover {
	font-size: 21px;
	color: #01812F;
	text-decoration: underline;

}
.price {
	height: 26px;
	width: 231px;
	margin-top: 15px;
	font-size: 26px;
	font-weight: bolder;
	color: #6A5002;

}



.review {
	height: 25px;
	width: 60px;
	font-size: 19px;
	color: #000000;
	float: left;
	margin-top: 20px;

}




.like {
	height: 25px;
	width: 60px;
	font-size: 19px;
	color: #000000;
	float: left;
	margin-left: 20px;
	margin-top: 20px;

}


#pages {
	height: 100px;
	text-align: center;
	font-size: 20px;
	margin-bottom: 50px;
}

#pages a{
	color: black;
	font-size: 20px;
}

#pages a:visited {
	text-decoration: underline;
}

