@charset "utf-8";
/* slideShow.css  */

#slideShow {
	margin-bottom:30px;
	height: 853px;
	width: 100%;
	line-height:480px;
	z-index: 1;
	position: absolute;
	min-width: 1280px;
}	

	

#slideShowBox  {
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 853px;
	z-index: 1;
	min-width: 1280px;
}


#slidePanel {
	width: 7680px;
	position: absolute;
}

.slideImg {
	float:left;
	width:1920px;
	height:853px;
	margin: 0 auto;
	z-index: 1;
	min-width: 1280px;
}

.slideImg img {
	float:left;
	width:100%;
	height:853px;
	margin: 0 auto;
	z-index: 1;
	min-width: 1280px;
}


#prevNextButtonBox { position:relative; }
#prevButton {
	position: absolute;
	top: 211px;
	left: -963px;
	z-index: 10;
}
#nextButton {
	position: absolute;
	top: 212px;
	left: 1025px;
	z-index: 10;
}
