@charset "UTF-8";
/* ================== COMMON CSS ================== */
html, body, div,span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, 
address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, 
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* ================== DEFAULT PROPERTY CSS ================== */
body { font-size: 1.4rem; color: #727272; letter-spacing: -0.5px; }

a { text-decoration: none; cursor:pointer; }
a:hover { color: #3482fe; text-decoration: underline; }
a:link, a:active, a:visited { color: #333; }

h1, h2, h3, h4, h5 { font-weight: normal; }

button, input[type="button"] { cursor: pointer; padding: 0; }
button { border: 0; background-color: transparent; }

ul, ul li, ol, ol li { list-style: none; }


img { vertical-align: middle; }
img, fieldset, iframe { border: 0 none; }


form legend, fieldset legend, hr { display: none; }

em, address { font-style: normal; }

/* ================== HEADER STYLE ================== */
header { position: relative; }
header ._wrap { position: relative; }
header .utilWrap { position: absolute; top: 10px; right: 0; color: #636363; font-size: 1.4rem; z-index: 1; }
header .utilWrap .login_state { display: inline-block; }
header .utilWrap .login_state .login_state_text { display: inline-block; }
header .utilWrap .login_state .login_state_text strong { color: #162f57; }

header .utilWrap .utilList { display: inline-block; }
header .utilWrap .utilList li { display: inline-block; }
header .utilWrap .utilList li > a { color: #636363; font-size: 1.2rem; font-weight: 500; text-transform: uppercase; }
header .utilWrap .utilList li:before { content: ''; display: inline-block; vertical-align: middle; width: 1px; height: 11px; background-color: #ccc; margin: 0 5px 0 3px; }
header .utilWrap .utilList li:first-child:before { display: none; }

header #gnbWrap { position: relative; display: inline-block; width: 100%; margin-top: 49px; }
header #gnbWrap #_logo { position:absolute; left:120px; top:-10px; margin-top: -25px; width:60px; }
header #gnbWrap #_logo > a { display: block; width: 120px; height: 51px; text-indent: -5000px; background: url("../images/logo.jpg") left top no-repeat; }

header #gnbWrap #_nav { margin: 0 16%; text-align: center; }
header #gnbWrap #_nav a:hover, header #gnbWrap #_nav a:focus, header #gnbWrap #_nav a:active { color: #214b97 !important; }
header #gnbWrap #_nav .ul_1 > .li_1 { position: relative; display: inline-block; vertical-align: top; margin: 0 4%; }
header #gnbWrap #_nav .ul_1 > .li_1 > .a_1 { display: block; color: #214b97; font-size: 1.8rem; font-weight: 800; padding: 10px 0 20px; }
header #gnbWrap #_nav .ul_1 > .li_1._active .a_1, header #gnbWrap #_nav .ul_1 > .li_1._open .a_1 { color: #214b97; font-weight: 700; }
header #gnbWrap #_nav .ul_1 > .li_1._open > .ul_2 { height: auto; width: 390px; text-align: left; }
header #gnbWrap #_nav .ul_1 > .li_1.hidden { margin: 0; }
header #gnbWrap #_nav .ul_1 > .li_1 .ul_2 { overflow: auto; width: 400px; height: 0; position: absolute; top: 52px; left: -110%; text-align: left; background-color: #fff; padding: 0 18px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 2; text-align: center;}
header #gnbWrap #_nav .ul_1 > .li_1 .ul_2.hide { z-index: -999; }
header #gnbWrap #_nav .ul_1 > .li_1 .ul_2 > .li_2 { display: block; margin: 15px 0; }
header #gnbWrap #_nav .ul_1 > .li_1 .ul_2 > .li_2 > .a_2 { display: inline; padding: 0 10px; color: #444; font-size: 1.6rem; }
header #gnbWrap #_nav .ul_1 > .li_1 .ul_2 > .li_2._active .a_2 { color: #214b97; font-weight: 700; }

/* ====================== BODY ====================== */
body #sub #gnbWrap { display: none; }

/* ================== TABLE STYLE ================== */
table { width: 100%; table-layout: fixed; border-collapse: collapse; border-spacing: 0; }
table th { text-align: center; vertical-align: middle; }
table caption { display: block; overflow: hidden; position: absolute; top: 0; left: 0; width: 1px; height: 1px; }
table th._title, table th._nation, table th._sort, table td._title, table td._nation, table td._sort { text-align: left !important; }

table col.auto { width: auto; }

table col.w3per { width: 3%; }
table col.w5per { width: 5%; }
table col.w7per { width: 7%; }
table col.w8per { width: 8%; }

table col.w10per { width: 10%; }
table col.w12per { width: 12%; }
table col.w15per { width: 15%; }
table col.w20per { width: 20%; }
table col.w25per { width: 25%; }
table col.w26per { width: 26%; }

table col.w30per { width: 30%; }
table col.w40per { width: 40%; }
table col.w50per { width: 50%; }
table col.w60per { width: 60%; }
table col.w70per { width: 70%; }
table col.w80per { width: 80%; }
table col.w90per { width: 90%; }
table col.w100per { width: 100%; }

table col.wAutoper { width: auto; }

/* ================== SELECT STYLE ================== */
select::-ms-expand { display: none; }
select {
	height: auto;
	border: 1px solid #d7d7d7;
	width: 66%;
	color: #727272;
	margin-top: -5px;
	border-radius: 0px;
	background: url("../images/icon/icon_chk.png") no-repeat 95% 50%;
	font-family: inherit;
	padding: .8em .5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

option { font-size: 1.1em; }

/* ================== TEXTAREA STYLE ================== */
textarea { height: auto; line-height: 1.5; text-indent: 0; padding: 15px; }

/* ================== FOOTER ================== */
footer#footer { overflow: hidden; padding: 10px 0; -webkit-box-sizing: border-box; box-sizing: border-box; border-top: 1px solid #ccc; text-align:center;}
footer#footer .footerWrap { max-width: 1300px; margin: 0 auto; }
footer#footer .footer_info { margin-top: 10px; }
footer#footer .footer_info address, footer#footer .footer_info p.copy { display: inline-block; color: #6c6c6c; font-size: 1.4rem; }


/* ================== RESPONSIVE ================== */
@media all and (max-width: 1100px) { .popList { right: 10px; left: auto; } }
@media all and (max-width: 1285px) { ._formArea .postWrite dl._ventWrap dd .ventPart .vent-r-div .inline, ._formArea .postView dl._ventWrap dd .ventPart .vent-r-div .inline { display: block; width: 100% !important; } }
@media all and (max-width: 1100px) { ._formArea .vstList { right: 10px; left: auto; } }
