@charset "euc-kr";

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
	text-decoration: none;
}

#qna {
	width: 1020px;
	height: 800px;
	float: left;
}

#productform {
	float: left;
	width: 980px;
	margin-left: 20px;
	margin-top: 20px;
	
}

#productform h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

#productform th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	border: 2px solid #A9DDB3;
	border-collapse: collapse;
	font-size: 19px;

}

#productform td input{
	text-align: left;
	font-size: 19px;
	border: 0px;

}

#productform td textarea{
	text-align: left;
	font-size: 19px;

}

#productform td {
	text-align: left;
	border: 2px solid #A9DDB3;
	font-size: 19px;
	border-collapse: collapse;

}



#productform p {
	font-size: 17px;
	line-height: 27px;
	color: #555555;
}

#title {
	border: 1px solid #909090;
}

select option{
	font-size: 17px;
	line-height: 27px;
	color: #555555;
}

select{
	font-size: 17px;
	line-height: 27px;
	color: #333333;
}