@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
}

/* 모든 <ul> 태그에 적용 */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}



/********** MAIN 메뉴 항목 **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height:auto;
	margin-bottom: 50px;
}

	

#join {
	height: 100px;
	width: 960px;
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	margin-bottom: 70px;
	margin-left: 40px;
	margin-right: 40px;
	margin: 0 auto;
}


#join img {
	height: 60px;
	width: 160px;
	margin-top: 25px;
	margin-left: 400px;
	clear: both;
}

#form {
	margin-top: 50px;
	height: auto;
}

.idtxt {
	height: 20px;
	font-size: 18px;
}

.pwdtxt {
	height: 20px;
	font-size: 18px;
}

th {
	font-size: 18px;
	color: #4b3114;
	text-align: left;
	padding-top: 20px;
}



td {
	font-size: 18px;
	color: #999;
	
}

#id {
	font-size: 18px;
	width: 488px;
	height: 50px;
	background-color: #f0f0f0;
	padding-left: 10px;
}

#password {
	font-size: 18px;
	width: 488px;
	height: 50px;
	background-color: #f0f0f0;
	padding-left: 10px;
}

#loginbutton {
	height: 53px;
	width: 500px;
	margin-top: 20px;
}

#search {
	height: 120px;
	padding-top: 30px;
	width: 500px;
	text-align: center;
	margin: 0 auto;
	
}

.searchid {
	height: 30px;
	width:100px;
	float: left;
	margin-left: 130px;
	text-align: left;
}

.searchid a {
	font-size: 17px;
	text-decoration: none;
	color: #000;
}

.searchid a:hover {
	font-size: 17px;
	text-decoration: underline;
	color: #4b3014;
}

.searchpw {
	height: 30px;
	width:100px;
	float: left;
	margin-left: 20px;
}

.searchpw a {
	font-size: 17px;
	text-decoration: none;
	color: #000;
}

.searchpw a:hover {
	font-size: 17px;
	text-decoration: underline;
	color: #4b3014;
}

.manager {
	height: 30px;
	width:100px;
	float: left;
	margin-left: 100px;
	text-align: right;
}

.manager a {
	font-size: 17px;
	text-decoration: none;
	color: #000;
}

.manager a:hover {
	font-size: 17px;
	text-decoration: underline;
	color: #4b3014;
}

#customer {
	height: 164px;
	width: 960px;
	background-color: #FFF;
	margin: 0 auto;
}
.custmer1 {
	height: 164px;
	width: 320px;
	float: left;
	text-align: center;
	font-family: "Century Gothic";
}


.notice {
	font-size: 30px;
	font-weight: bold;
	font-family: "Century Gothic";
}
.custmer1 ul li a {
	color: #666;
	text-decoration: none;
	font-size: 17px;
}
.custmer1 ul li a:hover {
	color: #035c09;
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
}


.custmer1 ul li {
	color: #000;
	text-decoration: none;
	text-align: left;
	line-height: 25px;
	margin-left: 40px;
	font-size: 17px;
}


.question {
	font-size: 17px;
	line-height: 30px;
	font-family: "맑은 고딕";
	color: #666;
	font-weight: bold;
}

.custmer2 {
	font-size: 30px;
	font-weight: bold;
	color: #000;
	text-align: center;
	font-family: "Century Gothic";
	float: left;
	height: 164px;
	width: 320px;
}



.custmer3 {
	float: left;
	height: 164px;
	width: 320px;
}




#ljiform p {
font-size: 17px;
color: #FF060A;
}

input[type=password] {
        font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif ;
		width:152;
		&::placeholder {
        	font-family: "NanumSquare";
        }
}