@charset "euc-kr";

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어";
}

#qna {
	width: 720px;
	height: 910px;
	float: left;
}

.qnatitle {
	width: 720px;
	height: 70px;
	background-color: #555555;
	color: #fff;
	font-size: 27px;
	font-weight: bold;
	line-height: 70px;
	padding-left: 20px;
}


#qnaform {
	float: left;
	margin-top: 40px;
	width: 700px;
	padding-left: 20px;
}


#qnaform th {
	background-color: #beeac4;
	padding: 15px;
	font-size: 18px;
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	
}

#qnaform td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 18px;
}

#qnaform .sub {
	font-size: 15px;
	color: #999;
}

#qnaform p {
	font-size: 15px;
	line-height: 23px;
	color: #555555;
}

.sub {
	font-size: 15px;
	color: #7B7B7B;
	line-height: 20px;
}

#qnaform textarea {
	width: 400px;
	height: 180px;
	resize:none;
}

.summit {
	text-align: center;
	padding-left: 190px;
} 
