@charset "utf-8";
/* menu.css */

* {
	margin: 0;
	padding: 0;
	font-family: "나눔스퀘어"; 
}

/* ��� <ul> �±׿� ���� */
ul{
	margin-top:0;
	padding:0;
	list-style:none; 
	color:black; 
	font-family: "나눔스퀘어";
}

/********** TOP �޴� �׸� **********/


/********** MAIN �޴� �׸� **********/

#wrap{
	margin:0 auto;
	width:1280px;
	height: auto;
	margin-top: 35px;
	margin-bottom: 200px;
}




@media screen and (orientation:landscape) and (min-width:720px) and (max-width:1280px) and (width:100%){
}




#history {
	height: 30px;
	width: 1180px;
	text-align: left;
	color: #666;
	font-size: 18px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 40px;
	color: #714600;
	font-weight: bold;
	font-family: "나눔스퀘어";
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #BBBBBB;
}

#history a{
	color: #006818;
	font-weight: bold;
	font-family: "나눔스퀘어";
}


#item {
	height: 610px;
	width: 1180px;
	border-bottom: 1px solid #ccc;
	margin-left: 50px;
	margin-right: 50px;
}
.itemimg {
	float: left;
	height: 450px;
	width: 450px;
	margin-top: 20px;
}


#tree {
	margin-top: 20px;
}

#tree h2 {
	font-family: "나눔스퀘어";
	font-size: 27px;
	font-weight: bold;
}

.treeprice {
	font-family: "나눔스퀘어";
	font-size: 16px;
}

#tree th{
	margin-left: 60px;
	font-family: "나눔스퀘어";
	font-size: 20px;
}


#tree td{
	font-family: "나눔스퀘어";
	font-size: 21px;
}

.border {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #B9B9B9;
}


#tab1 {
	height: 100px;
	width: 1180px;
	margin-bottom: 50px;
	

}

#tab1 a{
	display: block;
}


ul,li { list-style:none; }
a {
	text-decoration:none; color:#000000;  
}
.tab {
	border:1px solid #ddd; border-left:none; background:#fff; overflow:hidden; 
}
.tab li {
	float:left; width:25%; height: 70px; border-left:1px solid #ddd; text-align:center; box-sizing:border-box; font-size: 20px;
}
.tab li {
	display:inline-block; padding:20px; cursor:pointer; 
}

.tab li.on {
	background-color: #05690c; 
	color: #ffffff; 
	font-size: 20px;
	font-weight: bold;
	
}
.tab li.on a{
	color: #ffffff; 
	font-size: 20px;
	font-weight: bold;
}



.tab_con {
	clear:both;  
}
.tab_con div { 
	display:none; height:100px; background:#fff; line-height:100px; text-align:center; 
}





#explaintable {
	height: 500px;
	width: 1180px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 60px;
	
}

#explaintable td {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	padding-left: 30px;
	font-size: 19px;
	
}

#explaintable th {
	border: 1px;
	border-color: #A9DDB3;
	border-style: solid;
	background-color: #c2eeb7;
	font-size: 19px;
	
}
#picture {
	width: 1180px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	text-align: center;
}
.picturetxt {
	height: 133px;
	width: 1180px;
    text-align: center;
	margin-bottom: 50px;
	line-height: 30px;
	font-size: 20px;
}

#picture img {
	margin-bottom: 70px;
	text-align: center;
}


.notice {
	height: 250px;
	width: 1180px;
	text-align: left;
	font-size: 19px;
	border-bottom: solid;
	border-bottom-color: #B5B5B5;
	line-height: 30px;

}


#delivery {
	height: 830px;
	width: 1180px;
	margin-top: 70px;
	margin-right: 50px;
	margin-left: 50px;
}

#deliveryform th {
	padding-bottom: 250px;
	padding-top: 30px;
	font-size: 22px;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #A9DDB3;
	
}


#deliveryform td {
	line-height: 35px;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #A9DDB3;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	border-top: 1px;
	border-top-style: solid;
	border-top-color: #A9DDB3;
	padding-left: 30px;
	font-size: 19px;
}

#review {
	width: 1180px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	
	
}

.reviewImg {
	padding-left: 960px;
}


#reviewtable {
	width: 1180px;
	margin-top: 50px;
	float: left;
	margin-bottom: 50px;
}

.review1{
			color:#934545;
			height: 60px;
			text-align:center;
			padding-top: 40px;
		}
        .review1 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .review1 .Reblind_view1{
			font-size:18px;
			color:#000000;
			text-align: left;
		}
        .review_view1 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
			height: 100px;
		}


#reviewtable th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#reviewtable td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}

.write {
	text-align: right;
}

#question {
	width: 1180px;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 50px;
	height: 800px;
	margin-bottom: 200px;
	
	
	
}

.reviewImg {
	padding-left: 960px;
}


#questiontable {
	width: 1180px;
	margin-top: 30px;
	float: left;
	
	
}


.question1{
			color:#934545;
			height: 60px;
			text-align:center;
			padding-top: 40px;
		}
        .question1 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question1 .blind_view1{
			font-size:18px;
			color:#000000;
			text-align: left;
		}
        .answer_view1 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
			height: 150px;
		}

.question2{
			color:#934545;
			height: 60px;
			text-align:left;
			padding-left: 40px;
		}
        .question2 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question2 .blind_view2{
			font-size:18px;
			color:#000000;
			text-align: left;
		}
        .answer_view2 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}

.question3{
			color:#934545;
			height: 60px;
			text-align:left;
			padding-left: 40px;
		}
        .question3 button {
			cursor:pointer;
			font-family:Arial,'돋움',Dotum;
			border:none;
			padding:0;
			background:#fff; 
			outline:0;
			text-align: left;
		}
        .question3 .blind_view3{
			font-size:18px;
			color:#000000;
			text-align: left;
		}
        .answer_view3 {
			display:none; 
			background-color: #F8f8f8;
			line-height: 40px;
			text-align: left;
			padding: 30px;
		}


#questiontable th {
	background-color: #c2eeb7;
	border-top: 2px;
	border-top-style: solid;
	border-top-color: #4D371B;
	font-size: 19px;

}

#questiontable td {
	text-align: center;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #A9DDB3;
	font-size: 19px;

}



